body {
margin: 0;
font-family: 'Segoe UI', sans-serif;
background: linear-gradient(135deg, #0f172a, #1e293b);
color: white;
}

.center-card {
width: 350px;
margin: 100px auto;
padding: 40px;
background: #1e293b;
border-radius: 16px;
box-shadow: 0 20px 40px rgba(0,0,0,0.4);
text-align: center;
}

.dashboard {
width: 900px;
margin: 40px auto;
padding: 40px;
background: #1e293b;
border-radius: 20px;
box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.grid-2 {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}

input, select {
width: 100%;
padding: 10px;
margin: 8px 0;
border-radius: 8px;
border: none;
background: #334155;
color: white;
}

button {
padding: 10px 20px;
margin: 10px 5px;
border: none;
border-radius: 8px;
background: #3b82f6;
color: white;
cursor: pointer;
}

button:hover {
background: #2563eb;
}

.section-box {
background: #0f172a;
padding: 20px;
border-radius: 12px;
margin-top: 20px;
}

.hidden { display: none; }

.forgot {
margin-top: 15px;
font-size: 14px;
color: #60a5fa;
cursor: pointer;
}

#chart {
max-width: 300px;
max-height: 300px;
margin-top: 20px;
}
.auth-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background: rgba(255,255,255,0.08);
  padding: 40px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

.auth-card input {
  width: 100%;
  margin-bottom: 10px;
}
.chart-container {
  width: 300px;
  height: 300px;
  margin: 30px auto;
}

#pieChart {
  width: 100%;
  height: 100%;
}
